<div class="modal" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title red"><strong>Excluir Artigo</strong></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/dashboard/deletearticle" method="post" id="formdelete">

        <div class="modal-body">
          <p class="red"><strong>Confirma a exclusão do seguinte artigo?</strong></p>

          <table class="table table-striped">
            <tbody>
            <tr>
              <td>
                <strong>Título:</strong>
              </td>
              <td>
                <a id="pb-js-title" class="pb-js-title">asd</a>
              </td>
            </tr>

            <tr>
              <td>
                <strong>Autor:</strong>
              </td>
              <td>
                <a id="pb-js-author" class="pb-js-author">asd</a>
              </td>
            </tr>

            <tr>
              <td>
                <strong>Revista:</strong>
              </td>
              <td>
                <a id="pb-js-magazine" class="pb-js-magazine">asd</a>
              </td>
            </tr>

            <tr>
              <td>
                <strong>Ano:</strong>
              </td>
              <td>
                <a id="pb-js-year" class="pb-js-year">asd</a>
              </td>
            </tr>
            </tbody>
          </table>
          <input type="hidden" id="pb-js-id" name="pb-js-id" class="pb-js-id">
          <input type="hidden" id="pb-js-type" name="pb-js-type" class="pb-js-type">

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Confirmar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </form>
    </div>

  </div>
</div>





<div class="modal" id="exampleModal2" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title red"><strong>Editar Artigo</strong></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Editar Artigo</h2>

              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br>
              <%= form_for(@article, :html => {:class => 'form-horizontal form-label-left'}, :url => '/dashboard/article/edit') do |f| %>
                  <input type="hidden" class="pb-fr-id">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Título:
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <%= f.text_field :title, class: 'form-control col-md-7 col-xs-12 pb-fr-title' %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="author">Autor:
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <%= f.text_field :author, class: 'form-control col-md-7 col-xs-12 pb-fr-author' %>
                    </div>
                  </div>
                  <hr/>
                  <div class="form-group">
                    <label for="magazine" class="control-label col-md-3 col-sm-3 col-xs-12">Revista:</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <%= f.text_field :magazine, class: 'form-control col-md-7 col-xs-12 pb-fr-magazine' %>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="year" class="control-label col-md-3 col-sm-3 col-xs-12">Ano:</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <%= f.text_field :year, class: 'form-control col-md-7 col-xs-12 pb-fr-year' %>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="issue" class="control-label col-md-3 col-sm-3 col-xs-12">Número:</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <%= f.text_field :issue, class: 'form-control col-md-7 col-xs-12 pb-fr-issue' %>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="vol_number" class="control-label col-md-3 col-sm-3 col-xs-12">Vol.:</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <%= f.text_field :vol_number, class: 'form-control col-md-7 col-xs-12 pb-fr-vol-number' %>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="first_page" class="control-label col-md-3 col-sm-3 col-xs-12">Página Inicial:</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <%= f.text_field :first_page, class: 'form-control col-md-7 col-xs-12 pb-fr-first-page' %>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="last_page" class="control-label col-md-3 col-sm-3 col-xs-12">Página Final:</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <%= f.text_field :last_page, class: 'form-control col-md-7 col-xs-12 pb-fr-last-page' %>
                    </div>
                  </div>
                  <hr/>
                  <div class="form-group">
                    <label for="translator" class="control-label col-md-3 col-sm-3 col-xs-12">Tradutor:</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <%= f.text_field :translator, class: 'form-control col-md-7 col-xs-12 pb-fr-translator' %>
                    </div>
                  </div>
                  <hr/>
                  <div class="form-group">
                    <label for="link" class="control-label col-md-3 col-sm-3 col-xs-12">Link/URL:</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <%= f.text_field :link, class: 'form-control col-md-7 col-xs-12 pb-fr-link' %>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="keywords" class="control-label col-md-3 col-sm-3 col-xs-12">Palavra(s)-chave:</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <%= f.text_field :keywords, class: 'form-control col-md-7 col-xs-12 pb-fr-keywords' %>
                    </div>
                  </div>
                  <hr/>
                  <div class="form-group">
                    <label for="categories" class="control-label col-md-3 col-sm-3 col-xs-12">Categorias:</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <%= f.select :categories, options_from_collection_for_select(@all_categories, "id", "name"), {},{multiple: true, class: 'form-control col-md-7 col-xs-12 pb-fr-categories', title: 'Ctrl + clique para múltiplas escolhas'} %>
                    </div>
                  </div>


                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <button class="btn btn-primary" type="button">Cancel</button>
                      <button class="btn btn-primary" type="reset">Reset</button>
                      <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                  </div>

                  <%= f.hidden_field :id, class: 'form-control col-md-7 col-xs-12 pb-fr-id' %>
                  <input type="hidden" id="pb-fr-type" name="pb-fr-type" class="pb-fr-type">
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

