<header>
  <nav>
    <div class="nav-wrapper">
      <nav class="text-white teal base  padding-left-logo">
      <%= render 'sidebar' %>
      <a href="/" class="brand-logo text-logo">&nbsp &nbsp PhilBrasil</a>

        <ul class="right hide-on-med-and-down">
          <%if @active_menu == "home" %>
            <li class="active"><a href="/" >PhilBrasil</a></li>
          <% else %>
            <li><a href="/" >PhilBrasil</a></li>
          <% end %>
          
          <%if @active_menu == "updates" %>
            <li class="active"><%= link_to 'Atualizações', '/atualizacoes'%></li>
          <% else %>
            <li><%= link_to 'Atualizações', '/atualizacoes'%></li>
          <% end %>

          <%if @active_menu == "categories" %>
            <li class="active"><%= link_to 'Categorias', '/categories'%></li>
          <% else %>
            <li><%= link_to 'Categorias', '/categories'%></li>
          <% end %>


          <%if @active_menu == "" %>
            <!-- <li class="active"><%= link_to 'Blog', 'https://philbrasil.github.io/' %></li> -->
            <li class="active"><%= link_to 'Blog', '/blog' %></li> 
          <% else %>
            <!-- <li><%= link_to 'Blog', 'https://philbrasil.github.io/' %></li> -->
            <li><%= link_to 'Blog', '/blog' %></li>
          <% end %>
          

          <%if @active_menu == "collaborate" %>
            <li class="active"><%= link_to 'Colabore', 'colabore'%></li>
          <% else %>
            <li><%= link_to 'Colabore', '/colabore'%></li>
          <% end %>
          
           <%if @active_menu == "contact" %>
            <li class="active"><%= link_to 'Contato', 'contact'%></li>
          <% else %>
            <li><%= link_to 'Contato', '/contact'%></li>
          <% end %>

          <%if @active_menu == "about" %>
            <li class="active"><%= link_to 'Sobre', '/sobre' %></li>
          <% else %>
            <li><%= link_to 'Sobre', '/sobre' %></li>
          <% end %>
          
        </ul>
      </nav>
    </div>
  </nav>
</header>