<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Title</th>
      <th>Year</th>
      <th>Magazine</th>
      <th>Vol number</th>
      <th>Translator</th>
      <th>Active</th>
      <th>Times visited</th>
      <th>Link</th>
      <th>Type</th>
      <th>Pub company</th>
      <th>Pub company city</th>
      <th>Inside</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.author %></td>
        <td><%= article.title %></td>
        <td><%= article.year %></td>
        <td><%= article.magazine %></td>
        <td><%= article.vol_number %></td>
        <td><%= article.translator %></td>
        <td><%= article.active %></td>
        <td><%= article.times_visited %></td>
        <td><%= article.link %></td>
        <td><%= article.article_type %></td>
        <td><%= article.pub_company %></td>
        <td><%= article.pub_company_city %></td>
        <td><%= article.inside %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
