<%= render 'articles/header' %>
<main>
    <div class="container">
        <br/>
        <h1>Categorias</h1>
    </div>

    <div class="container">
        <% @all_categories.each do |c| %>
        <% if (c.children.length == 0 and c.parents.length == 0) or (c.children.length != 0) %>
        <ul class="collection with-header">

            <li class="collection-header"><h4 id="<%= (10000 + c.id).to_s %>"><%= link_to c.name, category_path(c.id) %> (<%= c.articles.length%>)</h4></li>
            <% c.children.each do |sc| %>
            <li class="collection-item">
                <% if sc.children.length > 0 %>
                    <%= link_to sc.name, categories_path(anchor: (10000 + sc.id).to_s ) %> (<%= sc.articles.length %>)
                <% else %>
                    <%= link_to sc.name, category_path(sc.id) %> (<%= sc.articles.length %>)
                <% end %>
            </li>
            <%end%>
        </ul>
        <% end %>

        <% end %>
    </div>
</main>

<%= render 'articles/footer' %>

