<ul class="side-nav" id="slide-out">
	<li>
		<div class="userView">
			<!-- <img class="background" alt="" src="ronai5.jpg"> -->
			<a href="#!user"> <%= image_tag "brasil.png", class: "circle responsive-img"%> </a>
			<a href="/"><span class="white-text name">PhilBrasil</span></a>
			<a href="mailto:philbrasil@gmail.com"><span class="white-text email">philbrasil@gmail.com</span></a>
		</div>
	</li>
	<li><%= link_to 'Blog', 'blog' %></li>
	<li><%= link_to 'Colabore', 'colabore'%></li>
	<li><%= link_to 'Sobre', 'sobre'%></li>
	<li>
		<div class="divider"></div>
	</li>
	<li><a class="subheader"></a></li>
	<li><%= link_to 'Atualizações', 'atualizacoes'%></a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>