<!DOCTYPE html>
<html>
  <head>
    <!-- CSS  -->
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "philbrasil" %>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    
    <title>PhilBrasil - <%= @active_page_title %></title>

  </head>

  <body>
    
    <header>
      <%= render 'common/header1' %>
    </header>

    <main>
      <%= yield %>
      <%= render 'common/footer1' %>    
    </main>
    
  </body>
</html>
